<!-- topbar 部分 -->
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">

        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">管理导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>


        <a class="navbar-brand" href="#">
            <img alt="橙果教育 Logo" src="~/img/logo20.png" class="hidden-xs" />
            <span>橙果教育</span>
        </a>

        <!-- 用户列表菜单 -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> 管理员</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">个人信息</a></li>
                <li class="divider"></li>
                <li><a href="#">退出登录</a></li>
            </ul>
        </div>
        <!-- 用户列表菜单 -->


        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
            <li><a href="#"><i class="glyphicon glyphicon-globe"></i> 官方首页</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-star"></i> 官方微信 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">微信公众号</a></li>
                    <li><a href="#">微信关注人数统计</a></li>
                    <li><a href="#">微信新闻列表</a></li>
                    <li class="divider"></li>
                    <li><a href="#">微信流量分析</a></li>
                    <li class="divider"></li>
                    <li><a href="#">微信管理</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>
<!-- topbar 部分 -->